<form (ngSubmit)="f.form.valid && addValue()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select (change)="operationType($event)" class="agregar_tipo" [ngClass]="{redfocus: type === 'expenseOperation'}">
        <option value="incomeOperation" selected>+</option>
        <option value="expenseOperation">-</option>
      </select>
      <input [ngClass]="{redfocus: type === 'expenseOperation'}"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="descriptionInput" 
        [(ngModel)]="descriptionInput"
        required
      />
      <input [ngClass]="{redfocus: type === 'expenseOperation'}"
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        name="valueInput" 
        [(ngModel)]="valueInput"
        required
      />
      <button type="submit" class="agregar_btn">
        <i  class="ion-ios-checkmark-outline" ></i>
      </button>
    </div>
  </div>
</form>
