<div class="container">
  <h1>Voltaje Level</h1>

  <div class="graphics">
    <div class="measurement">
      <h2>Measurement</h2>
      <canvas id="canvasId"></canvas>
    </div>

    <div class="threshold">
      <h2>Threshold</h2>
      <label for="g1">120 and up</label>
      <input name="g1" type="text" />
      <label for="g2">110 - 120</label>
      <input name="g2" type="text" />
      <label for="g3">100 - 110</label>
      <input name="g3" type="text" />
    </div>
  </div>

  <div class="data">
    <div class="linesup">
      <label>Amplitudes [V]</label>
      <label for="A">A-B</label>
      <input name="A" type="text" />
      <label for="B">B-C</label>
      <input name="B" type="text" />
      <label for="C">C-A</label>
      <input name="C" type="text" />
      <label for="Promedio">Avg</label>
      <input name="Promedio" type="text" />
    </div>

    <div class="lineinf">
      <label for="rated">Rated [V]</label>
      <input name="rated" type="text" />
      <label for="value">Value [%]</label>
      <input name="B" type="text" />
    </div>
  </div>
</div>
