<div class="container">
  <div class="col">
    <h3>{{ title }}</h3>
  </div>
  <hr />
  <form class="form-row">
    <div class="form-group col-md-2">
      <label for="name" class="sr-only">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="name"
        class="form-control"
        [(ngModel)]="firstName"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="lastname" class="sr-only">LastName</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="lastname"
        class="form-control"
        [(ngModel)]="lastName"
      />
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="addPerson()">
          Add Person
        </button>
      </div>
    </div>
  </form>
  <hr />
</div>
<app-person *ngFor="let personElement of people; let i = index"
[person]="personElement"
[idx]="i"
></app-person>